<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true"
      autoReload="true">
  <variable name="logDirectory" value="${basedir}/logs/${shortdate}" />
  <targets async="true">
    <target name="f1" xsi:type="File" fileName="${logDirectory}/${logger}_${level}.txt"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|machinename：${machinename}${newline}${logger}${newline}url: ${aspnet-Request-Url} |action:${aspnet-MVC-Action}${newline}${message}${newline}${stacktrace}${newline}${exception:format=tostring}${newline}-----------------------------------------------------------${newline}"
            archiveFileName="${logDirectory}/${logger}_${level}{#}.txt"
            archiveEvery="Day"
            maxArchiveFiles="9"
            archiveNumbering="Sequence"
            archiveAboveSize="1048576"
            concurrentWrites="true"
            keepFileOpen="true"
            openFileCacheTimeout = "30" />
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="f1" />
  </rules>
</nlog>